body{
    color:white;
    background: url("./images/universe.jpg");
    background-size:cover;
}
.center{
text-align:center;
}
.b1{
    padding:6px 12px;
}

.font{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}