body{
    color:white;
    background: url("./images/animation.webp");
    background-size:cover;
}
.center{
text-align:center;
}
.b1{
    padding:6px 12px;
}

.font{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.underline{
border-bottom: 3px solid white;
}
#mainlogo{
  width:160px;
margin: 0 auto;
  display: block; 
}
